
/app/BD
app/BD
app/*/target/
/app/*/target/
app/*/target/*
/app/*/target/*
app/Backend/target/
app/Backend/target/*
/app/Backend/target/*
/app/Backend/target/
/app/Frontend/target/
/app/Frontend/target/*
app/Frontend/target/*
app/Frontend/target/
/Periode1/Backend/target/
/Periode1/Predictif-2/target/
/Periode1/BD
.DS_Store
*.DS_Store
/Periode1/Predictif-1/target/
/Periode1/Predictif-3/target/
/Periode1/Predictif-Web/target/
/Periode1/Frontend/target/
/app/Frontend/src/main/resources/META-INF/persistence.xml
*.jar
*.java
