/Periode1/Backend/target/
/Periode1/Predictif-2/target/
/Periode1/BD
.DS_Store
*.DS_Store
/Periode1/Predictif-1/target/
/Periode1/Predictif-3/target/
/Periode1/Predictif-Web/target/
Periode1/Predictif-2/src/main/resources/META-INF/persistence.xml
Periode1/Predictif-2/src/main/resources/META-INF/persistence.xml
*.xml
/Periode1/Frontend/target/