/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 May 2020, 15:57:40
    Author     : sophiecrowley
*/
.wrap {
    width: 100%;
}

#dleft {
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: lightblue;
    border-collapse: collapse;    
}

#dmiddle {
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: lightpink;
    border-collapse: collapse;    
}

#dright {
  width: 33.33%;
  height: 100%;
  position: relative;
  float: left;
  background-color: lightgoldenrodyellow;
  border-collapse: collapse;   
}

